<!doctype html>
<html>
<head>
  <title>Threshold Reached!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  Hey there,

  The old/new call rate for feature {{ feature_name }} has reached your set threshold of {{ threshold }}.

  You won't get any more notifications for this feature.

  Cheers,
  Legacy
</body>
</html>
